<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>readyWeather - About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
{{>header}}
<div class="main-content">
    <div class="left">
    <img src="./img/face.jpg" alt="my face" class="portrait">
        <img src="./img/Smiling Sun.svg" alt="icon" class="img-icon">
    </div>
    <div class="right about">
    <h4>Howdy~~</h4>
    <p>I'm Minh - a web designer and web developer from Vietnam. This is just a simple app I created to be familiar with
        Node.js.<br>Don't hesitate to use the app freely. It's my first Node app, so bugs cannot be avoidable.</p>
    <h4>Hope you like it. Have a nice day~~</h4>
    </div>
</div>
{{>footer}}
</body>
</html>